<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<% include includes/head %>
</head>
<body>
	<div class="wrapper">
		<% include includes/header %>
		<div ng-app="">
			<p class="list-group-item"><%= body %><i class="fa fa-user"></i></p>
			<p>Name: <input type="text" ng-model="name"></p>
			<p ng-bind="name"></p>
			<p>的感到发鬼地方个梵蒂冈的发鬼地方个梵蒂冈梵蒂冈的费</p>
		</div>

		<div class="push"></div>
	</div><!-- end of wrapper -->
	<% include includes/footer %>
</body>
</html>